{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}{{ block.super }} - Post creation{% endblock %}

{% block content %}
    <h2 class="align-center">Post creation</h2>
    <div class="col-md-6 col-md-offset-3 col-xs-12">
    <form method="post" enctype="multipart/form-data">
        <p>{% for error in form.none_field_errors  %}{{ error }} {% endfor %}</p>
        {% for field in form %}
            <div class="form-group {% if field.errors %}has-warning{% endif %}">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
                {% if field.errors %}
                    <span class="help-block">{{ field.errors }}</span>
                {% endif %}
            </div>
        {% endfor %}
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Create">
    </form>
    </div>
{% endblock %}
